doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title ZOOM
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 ZOOM
        main 
            div#welcome 
                form 
                    input(type="text", placeholder="room name", required)
                    button Enter room
                h4 Open Rooms:
            div#room
                h3 
                ul
                form#name
                    input(type="text", placeholder="write nickname", required)
                    button save
                form#msg 
                    input(type="text", placeholder="send message", required)
                    button send
        script(src="/socket.io/socket.io.js")  
        script(src="/public/js/app.js") 